@model BLL.EditPassFM

@Html.HiddenFor(model => model.ID)

@{
    ViewBag.Title = "Edit Password";
}

<h2>Edit Password</h2>

<div class="error">
    @ViewBag.ErrorMessage
</div>

@using (Html.BeginForm("EditPassword", "User", FormMethod.Post))
{
    <div class="passwordBox">
        Current Password
        @Html.PasswordFor(model => model.Password)
    </div>
    <div class="passwordBox">
        New Password
        @Html.PasswordFor(model => model.NewPass)
    </div>
    <div class="passwordBox">
        Confirm Password
        @Html.PasswordFor(model => model.ConfirmPass)
    </div>
<input type="submit" value="Create" />
}