@model BLL.UsersVM

@using BLL;

@{
    ViewBag.Title = "User Management";
}

<h2>User Management</h2>

@Html.ActionLink("Create", "Create")
<br />
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(UserVM user in Model.Users)
        {
            <tr>
                <td>@user.ID</td>
                <td>@user.Email</td>
                <td>@Html.ActionLink("Edit", "Edit", new {ID = user.ID})</td>
                <td>@Html.ActionLink("Delete", "Delete", new { ID = user.ID })</td>
            </tr>
        }
    </tbody>
</table>